#container {
    position: absolute;

    top: -8px; /**/
    left: -5px; /**/
    float: right;

    width: 100px;
    height: 35px;

    margin: 10px;
    padding: 10px;
}
#boxForOval {
	position: absolute;

	top: 90px; /**/
	left: 10px; /**/
    float: right;

    width: 100px;
    height: 35px;

    margin: 10px;
    padding: 10px;

    border: 2px solid black;
}
#boxForKVD {
	position: absolute;

	top: 160px; /**/
	left: 10px; /**/
    float: right;

    width: 100px;
    height: 35px;

    margin: 10px;
    padding: 10px;

    border: 2px solid black;
}
#boxForRomb {
	position: absolute;

	top: 230px; /**/
	left: 10px; /**/
    float: right;

    width: 100px;
    height: 35px;

    margin: 10px;
    padding: 10px;

    border: 2px solid black;
}
#workspace {
	position: absolute;

	top: 90px; /**/
	left: 150px; /**/
    float: right;

    width: 500px;
    height: 500px;

    margin: 10px;
    padding: 10px;

    border: 2px solid black;
}
#boxForInput {
	position: absolute;

	top: 90px; /**/
	left: 690px; /**/
    float: right;

    width: 150px;
    height: 500px;

    margin: 10px;
    padding: 10px;

    border: 2px solid black;
}  